<link rel="import" href="expandable-more.html">
<link rel="import" href="styled-li.html">
<link rel="import" href="../vendor/core-icons/core-icons.html">
<polymer-element name="expandable-li" extends="styled-li" attributes="title">
    <template>
        <style>
            @media print {
                #icon {
                    display: none;
                }
            }
            :host .content {
                transition: all linear 200ms;
                display: block;
            }
            :host .content:hover {
                padding-left: 3px;
                cursor: pointer;
            }
            :host expandable-more {
                margin-left: {{-15*level}}px;
            }
        </style>
        <div class="content" id="content">
            {{title}} <core-icon icon="expand-{{open ? 'less' : 'more'}}" id="icon"></core-icon>
        </div>
        <expandable-more id="more">
            <content></content>
        </expandable-more>
    </template>
    <script>
        Polymer('expandable-li', {
            open: false,
            title: null,
            domReady: function () {
                this.$.content.addEventListener('click', this.toggle.bind(this), this);
            },
            toggle: function () {
                if (this.open) {
                    this.$.more.close();
                } else {
                    this.$.more.expand();
                }
                this.open = !this.open;
            }
        });
    </script>
</polymer-element>
