<polymer-element name="styled-li" extends="li" attributes="level">
    <template>
        <style>
            :host {
                list-style: none;
                padding-left: {{level*15}}px;
                position: relative;
            }
            :host .content::before {
                content: "";
                position: absolute;
                top: 50%;
                margin-top: -7px;
                left: -9px;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                background-color: grey;
            }
        </style>
        <div class="content" id="content">
            <content></content>
        </div>
    </template>
    <script>
        Polymer('styled-li', {
            level: 1
        });
    </script>
</polymer-element>
